[submodule "dpaviser-qa-tool"]
	path = dpaviser-qa-tool
	url = https://github.com/statsbiblioteket/dpaviser-qa-tool.git
	branch = master
[submodule "dpaviser-structure-checker"]
	path = dpaviser-structure-checker
	url = https://github.com/statsbiblioteket/dpaviser-structure-checker.git
	branch = master
[submodule "dpaviser-metadata-checker"]
	path = dpaviser-metadata-checker
	url = https://github.com/statsbiblioteket/dpaviser-metadata-checker.git
	branch = master
[submodule "sbforge-parent"]
	path = sbforge-parent
	url = https://github.com/statsbiblioteket/sbforge-parent.git
[submodule "newspaper-parent"]
	path = newspaper-parent
	url = https://github.com/statsbiblioteket/newspaper-parent.git
[submodule "jhove"]
	path = jhove
	url = https://github.com/statsbiblioteket/jhove.git
	branch = integration
[submodule "newspaper-batch-event-framework"]
	path = newspaper-batch-event-framework
	url = https://github.com/statsbiblioteket/newspaper-batch-event-framework.git
	branch = dpaviser-statistics-refactoring
